@import "src/assets/variables";

.header {
  position: fixed;
  width: 100%;
  background-color: $blue_700;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  width: 100%;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
}

.header__date {
  color: $gray_300;
  font-weight: 300;
}

.header__logo {
  position: absolute;
  right: -112px;
  top: 0;
  cursor: pointer;
}
