@import "assets/fonts";
@import "assets/normalize";
@import "assets/variables";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $body-background-color;
  color: white;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 32px;
}
